<h2>ProblemController#index</h2>
<%= javascript_pack_tag 'problem-bundle' %>
<%= react_component("Problem", prerender: false) %>
<button id="post" type="button" >post</button>
<button id="put" type="button" >put</button>
<button id="delete" type="button" >delete</button>
	<script>
		$(document).ready(function(){
			$("#post").click(function(){
				$.ajax({
	                url: "/problem",
	                data: {detail: 123},
	                dataType: 'jsonp',
	                type:"POST",
	                success: function(data){
						console.log("save success");
	                },
	                error: function(data){
	                	console.log("save faile");
	                }
	            });
			});	
			$("#put").click(function(){
				$.ajax({
	                url: "/problem/1",
	                data: {detail: 123},
	                dataType: 'jsonp',
	                type:"put",
	                success: function(data){
						console.log("save success");
	                },
	                error: function(data){
	                	console.log("save faile");
	                }
	            });
			});	
			$("#delete").click(function(){
				$.ajax({
	                url: "/problem/1",
	                data: {detail: 123},
	                dataType: 'jsonp',
	                type:"delete",
	                success: function(data){
						console.log("save success");
	                },
	                error: function(data){
	                	console.log("save faile");
	                }
	            });
			});	
		});

	</script>

